body {
  background-color: #f7f6f5;
}

h1 {
  color: #ffa500;
}

#webcamp {
  color: #008000;
}

#webcamp-pro {
  color: #800080;
}

#webcamp-woman {
  color: #ff69b4;
}

#webcamp-career {
  color: #1e90ff;
}
