* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.question2 {
  width: 300px;
  height: 300px;
  border: solid 2px #fa5893;
}

.question3 {
  width: 300px;
  height: 300px;
  border: solid 2px #fa5893;
}

.question4 {
  width: 300px;
  height: 300px;
  border: solid 2px #fa5893;
}

.q4-span {
  color: #fa5893;
}
